# Android Studio
.idea/
.gradle
!build.gradle
build/
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp

# Windows thumbnail db
Thumbs.db


# Additionnal files
gradlew
gradlew.bat
local.properties